<div class="col-10 offset-1" about>
  <h1>About Splurty</h1>

<p>
  Splurty was built by <a target="_blank" href="https://jamesfanizza.netlify.com"> James Fanizza</a>, an up-and-coming web developer who loves all things RuPaul's Drag Race.
</p>
<br />
<p>
  If you like this page, be sure to follow me on Instagram <a target="_blank" href=https://www.instagram.com/jamesfanizza/>@jamesfanizza</a>.
</p>

 <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me copy.jpg', class: 'img-fluid' %>
    </div>

       <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">James Fanizza</h2>
      <br />
      <p>
       James Fanizza is a web developer and professional filmmaker who focuses on providing LGBTQ content for a mainstream audience. His first feature film, Sebastian, premiered at Inside Out in Toronto and was distributed world-wide via Amazon Prime.
      </p>
    </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />